body{
    background:#0f172a;
    font-family:Arial, Helvetica, sans-serif;
}

.signup-container{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#0f172a,#1e293b);
}

.signup-card{

    width:450px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:0 20px 40px rgba(0,0,0,.3);
}

.signup-card h1{

    text-align:center;

    color:#2563eb;

    margin-bottom:10px;
}

.signup-card h2{

    text-align:center;

    color:#111827;
}

.signup-card p{

    text-align:center;

    color:#6b7280;

    margin-bottom:20px;
}

.signup-card label{

    display:block;

    margin-top:15px;

    margin-bottom:6px;

    font-weight:600;

    color:#374151;
}

.signup-card input{

    width:100%;

    padding:14px;

    border:1px solid #d1d5db;

    border-radius:10px;

    font-size:15px;
}

.password-box{

    position:relative;
}

.password-box span{

    position:absolute;

    top:14px;

    right:15px;

    cursor:pointer;
}

.signup-btn{

    width:100%;

    margin-top:30px;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;
}

.signup-btn:hover{

    background:#1d4ed8;
}

.login-text{

    margin-top:20px;

    text-align:center;
}

.login-text a{

    margin-left:8px;

    text-decoration:none;

    color:#2563eb;

    font-weight:bold;
}